<div class="sidebar sticky">
  <div itemscope itemtype="http://schema.org/Person">
    <div class="author__avatar">
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" itemprop="image">
    </div>

    <div class="author__content">
      <h3 class="author__name" itemprop="name">{{ site.author.name }}</h3>
      {% if site.author.bio %}
        <p class="author__bio" itemprop="description">{{ site.author.bio }}</p>
      {% endif %}
    </div>

    <div class="author__urls-wrapper">
      <ul class="author__urls social-icons">
        {% if site.author.location %}
          <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> 
            <span itemprop="name">{{ site.author.location }}</span>
          </li>
        {% endif %}

        {% if site.author.employer %}
          <li>
            <i class="fa fa-fw fa-building" aria-hidden="true"></i> 
            {{ site.author.employer }}
          </li>
        {% endif %}

        {% if site.author.email %}
          <li>
            <a href="mailto:{{ site.author.email }}">
              <i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> Email
            </a>
          </li>
        {% endif %}

        {% if site.author.googlescholar %}
          <li>
            <a href="{{ site.author.googlescholar }}" target="_blank">
              <i class="ai ai-google-scholar-square ai-fw"></i> Google Scholar
            </a>
          </li>
        {% endif %}

        {% if site.author.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}" target="_blank">
              <i class="fa fa-fw fa-github" aria-hidden="true"></i> Github
            </a>
          </li>
        {% endif %}

        {% if site.author.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
              <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn
            </a>
          </li>
        {% endif %}

        {% if site.author.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
              <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
            </a>
          </li>
        {% endif %}

        {% if site.author.orcid %}
          <li>
            <a href="https://orcid.org/{{ site.author.orcid }}" target="_blank">
              <i class="ai ai-orcid-square ai-fw"></i> ORCID
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

